.page{
height: 100vh;
width: 100%;
justify-content: center;
align-items: center;
display: flex;
background-image: url(assets/background.png);
position: relative;
}

.formContainer{

  box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  border-radius: 15px;
  background:white;
  padding: 3.4rem 4rem;

  
}
.formBody{
}
.formLogo{
display:flex
}
.formTitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #212121;
  margin-top: 24px;
}
.formDescription{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
  /* or 131% */
  
  text-align: center;
  
  /* Text Primary */
  
  color: #545454;
  
}
.formFields{
margin-top: 24px;
}
.formField{
margin-top: 28px;
}

.fieldTitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}
.fieldInput{
  margin-top: 8px;
  
}

.fieldInput>input{
  width: 100%;
  height:30px;

}
.company1{
  background: #3766E8;
  border-radius: 2px;
  width: 56px;
  white-space: nowrap;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  
}

select{
width: 100%;
height:40px;
font-size: medium;
}
.companySize{
display: flex;
margin-top: 5px;
}
.companySizeOption{
  background: #F0F0F0;
  border-radius: 2px;
  width: 56px;
  white-space: nowrap;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

}
.formAction{

}
.submitButton{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  gap: 8px;
  
  width: 368px;
  height: 36px;
  
  /* Primary color */
  
  background: #3766E8;
  border-radius: 5px;
  color:white
}

.appLogo{
position: absolute;
top: 60px;
left :60px;
}
.footer{

}

